<!DOCTYPE html>

<html>
  <head>
    <!-- Bootstrap -->
    <link href="../static/css/bootstrap.css" rel="stylesheet">
  </head>

  <body>
    <h3>Media heading example</h3>
    <h5>Good to use for commenting on profile/pic</h5>
    <div class="media">
      <a class="pull-left" href="#">
        <img class="media-object" data-src="holder.js/64x64" alt="Generic placeholder image">
      </a>
      <div class="media-body">
        <h4 class="media-heading">Media heading</h4>
        text stuff commenting
	</div>
      </div>
      <div class="media">
      <a class="pull-left" href="#">
        <img class="media-object" data-src="holder.js/64x64" alt="Generic placeholder image">
      </a>
      <div class="media-body">
        <h4 class="media-heading">Media heading</h4>
        text stuff comments
        <div class="media">
          <a class="pull-left" href="#">
            <img class="media-object" data-src="holder.js/64x64" alt="Generic placeholder image">
          </a>
          <div class="media-body">
            <h4 class="media-heading">Nested media heading</h4>
            comment comment comment
          </div>
        </div>
      </div>
      </div>

      <h3>Badge example</h3>
      <h5>Good for showing how many messages/comments the person has received</h5>
      <ul class="list-group">
	<li class="list-group-item">
	  <span class="badge">12</span>
	  Comments
	</li>
	<li class="list-group-item">
	  <span class="badge">3</span>
	  Messages
	</li>
	<li class="list-group-item">
	  <span class="badge">13</span>
	  Likes
	</li>
      </ul>



<h3>Footer attempt</h3>
<h5>Goal is to get a large footer at the bottom with links to our contact and also better navigation through the site</h5>
    <!-- Footer
================================================== -->
<footer class="bs-docs-footer" role="contentinfo">
  <div>
    <p>Frontend by Judy Mai & Michele Lin</p>
    <p>Middle-end by Michele Lin & Vivian Wang</p>
    <p>Back-end by Vivian Wang & Alvin Leung</p>
    <p>Canvas by Alvin Leung</p>
    <ul class="bs-docs-footer-links muted">
      <li>Created By: </li>
      <li>&middot;</li>
      <li><a href="https://github.com/aleung013">Alvin Leung</a></li>
      <li>&middot;</li>
      <li><a href="https://github.com/MicheleLin">Michele Lin</a></li>
      <li>&middot;</li>
      <li><a href="https://github.com/judymai">Judy Mai</a></li>
      <li>&middot;</li>
      <li><a href="https://github.com/vivi321">Vivian Wang</a></li>
    </ul>
  </div>
</footer>








    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="../static/js/jquery.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="../static/js/bootstrap.min.js"></script>
  
  </body>
</html>
